$font-header: 38px;
$font-default: 'Raleway';
$font-default-light: 'Raleway-ligth';
$font-default-bold: 'Raleway-bold';
$color-default: #FFF;
$color-titles: #182539;
$bg-author: #ececec;
$green: #34b3a0;
$white: #FFF;